[Service]
Type=simple
ExecStart=/opt/alertmanager/alertmanager --config.file=/opt/alertmanager/alertmanager.yml
ExecStop=/bin/kill -INT $MAINPID

[Install]
WantedBy=multi-user.target
